html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End CSS Reset */
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

div,
article {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-family: "Oswald", "Ariel", sans-serif;
}

h1 {
  font-size: 3rem;
}

p,
a,
span {
  font-size: 1.4rem;
}

.wrapper {
  background-color: #f1efe9;
  margin: 0px;
}

.site-header {
  background-color: #1f1f1f;
  padding: 20px;
}

.site-header__content {
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header__title {
  font-size: 3rem;
  color: #f1f1f1;
  text-transform: uppercase;
  max-width: 73rem;
  width: 100%;
}

.site-header__title-link {
  text-decoration: none;
}

.main-nav ul {
  display: flex;
}

.main-nav .page_item a {
  color: whitesmoke;
  text-decoration: none;
  font-family: "Oswald", "Ariel", sans-serif;
  font-size: 2rem;
  padding-left: 2rem;
}

.home-banner {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.site-description {
  background-color: white;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
}

.site-description__text {
  max-width: 65rem;
  line-height: 1.4;
  letter-spacing: 1px;
}

.posts {
  max-width: 60rem;
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 20px;
  grid-gap: 60px;
}

.posts__title {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  text-align: center;
  font-size: 2.45rem;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 2rem;
}

.post {
}

.post__title {
  font-size: 2rem;
}

.post__image {
  height: 300px;
  width: 100%;
  object-fit: cover;
  margin: 20px 0;
}

.post__summary {
}

.post__excerpt {
  font-size: 1.3rem;
  line-height: 1.3;
  padding: 0 10px;
}

.read-more {
  display: block;
}

.footer {
  padding: 2em;
  background-color: #1f1f1f;
}

.footer__text {
  color: whitesmoke;
  text-align: center;
}
